/* CSS Document */
body{
	margin:0;
	padding:0;
	}
.clear{
	clear:both;
}
#wrapper{
	background-color:#cccccc;
}
#wrapper .voting_wrap{
    background-color: #FFFFFF;
    height: 122px;
    margin: 0 auto;
    padding: 23px 0 0 23px;
    width: 95px;
}
#wrapper .voting_wrap .voting{
	 padding-bottom: 22px;
}
#wrapper .voting_wrap .voting .like{
	float:left
}
#wrapper .voting_wrap .voting .like a{
	display:block;
	background: url("images/sprite.png") no-repeat scroll 0 0 transparent;
	width:32px;
	height:34px;
	cursor:pointer;
}
#wrapper .voting_wrap .voting .unlike{
	float:left;
}
#wrapper .voting_wrap .voting .unlike a{
 	display:block;
	background: url("images/sprite.png") no-repeat scroll -40px 0 transparent;
	width:32px;
	height:34px;
	cursor:pointer;
}
#wrapper .voting_wrap .voting .saprater{
	float:left;
	background: url("images/sprite.png") no-repeat scroll -33px 0 transparent;
    height: 34px;
    width: 7px;
}

#wrapper .voting_wrap .vote_status{
}
#wrapper .voting_wrap .vote_status p{
	margin:0;
	padding:0px;
}
#wrapper .voting_wrap .vote_status .count{
	font-size:12px;
	color: #929292;
	}
#wrapper .voting_wrap .vote_status .count .num{
	color:#000000;
}	
#wrapper .voting_wrap .vote_status .state{
	font-size:10px;
	color:#9F9F9F;
}

#wrapper .voting_wrap .vote_updation{
	border:1px #C1BFC3 solid;
	text-align: center;
	margin-bottom: 10px;
	width:45px;
	height:45px;
	font-size:19px;
}
#wrapper .voting_wrap .vote_updation .statment{
	font-size:12px;
}
#wrapper .voting_wrap .vote_operation{
}
#wrapper .voting_wrap .vote_operation .oper{
	border: 1px solid #C1BFC3;
    cursor: pointer;
    height: 24px;
    width: 21px;
}

